:host{
  flex: 1;
  height: .2rem;
  background: rgba(255, 255, 255, 0.4784313725);
  margin-left: .1rem;
  margin-right: .1rem;
  box-shadow: inset 0 0 4px #c5c5c5;
  position: relative;
  border-radius: .1rem;
  overflow: hidden;
  div{
    position: absolute;
    width:0;
    height:.2rem;
    background-color:#fff;
    box-shadow:0 0 4px #c5c5c5,0 0 4px #fff;
  }
}
