<div class="video-wrapper">
  <div class="video-small-wrapper"
       (panmove)="moveSmallVideo($event)"
       (panend)="endMoveSmallVideo($event)"
       [style.left.px]="smallVideoPosition.left"
       [style.top.px]="smallVideoPosition.top">
    <div class="video-small-placeholder">
      <app-avatar
        [url]="userService?.session?.image"
        [nameShort]="userService?.session?.nameShort()"
        [firstChar]="userService?.session?.firstChar()"></app-avatar>
    </div>
    <video class="local-video video-small" #localVideo autoplay [muted]="true"></video>
  </div>
  <div class="video-big-placeholder">
    <app-avatar
      [url]="data?.user?.image"
      [nameShort]="data?.user?.nameShort()"
      [firstChar]="data?.user?.firstChar()"></app-avatar>
  </div>
  <video class="remote-video video-big" #remoteVideo autoplay></video>
</div>
<div class="button-wrapper">
  <ul class="actions">
    <li>
      <a class="toggle-local-audio" (click)="toggleLocalStream('audio')">
        <i class="mdi"
           [ngClass]="{'mdi-microphone' : webRtcCallService?.getLocalConfig()?.audio, 'mdi-microphone-off' : !webRtcCallService?.getLocalConfig()?.audio}"></i>
      </a>
    </li>
    <li>
      <a class="toggle-local-video" (click)="toggleLocalStream('video')">
        <i class="mdi mdi-video"
           [ngClass]="{'mdi-video' :webRtcCallService?.getLocalConfig()?.video, 'mdi-video-off' : !webRtcCallService?.getLocalConfig()?.video}"></i>
      </a>
    </li>
    <li>
      <a class="toggle-call stop-call"
         (click)="stop()">
        <i class="mdi mdi-phone-hangup"></i>
      </a>
    </li>
    <li>
      <a class="toggle-call start-call"
         *ngIf="!isCaller() && !isAccepted()"
         (click)="accept()">
        <i class="mdi mdi-phone-in-talk"></i>
      </a>
    </li>
    <li>
      <a class="toggle-remote-audio" (click)="toggleRemoteStream('audio')">
        <i class="mdi"
           [ngClass]="{'mdi-volume-high' : webRtcCallService.getRemoteConfig()?.audio, 'mdi-volume-off' : !webRtcCallService.getRemoteConfig()?.audio}"></i>
      </a>
    </li>
    <li>
      <a class="toggle-remote-video" (click)="toggleRemoteStream('video')">
        <i class="mdi mdi-eye"
           [ngClass]="{'mdi-eye' : webRtcCallService.getRemoteConfig()?.video, 'mdi-eye-off' : !webRtcCallService.getRemoteConfig()?.video}"></i>
      </a>
    </li>
  </ul>
</div>
