::ng-deep{
  .me-story-dialog-panel{
    width: 100%;
    height: 100%;
    position: initial!important;
    max-width: initial!important;
    .mat-dialog-container{
      border-radius: 0;
      background-color: var(--bg-color-1);
      padding: 0;
    }
  }
  .story-me-view-bottom-sheet{
    height: 80vh;
    background-color: var(--bg-color-1);
    overflow: hidden;
  }
}
:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: var(--color-3);
  position: relative;

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    outline: transparent;
    font-size: 2rem;
  }
  .area {
    position: relative;
    width: min(60vh, 100vw);
    background-color: var(--bg-color-2);
    background-image: url('~src/assets/images/undraw_reminders_697p.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
    .timer{
      display: flex;
      width: 100%;
      position: absolute;
      top: 1rem;
      z-index: 2;
    }
    .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: 2rem;
      z-index: 5;

      .central{
        display: flex;
        flex-direction: column;
        margin-left: .75rem;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 35%), 1px 0 1px rgb(0 0 0 / 35%);
        .name{
          font-size: .875rem;
          line-height: 1.25rem;
          font-weight: 600;
          color: white;
        }
        .username{
          font-size: .75rem;
          line-height: 1.5rem;
          color: #c7c7c7;
        }
      }

      .actions{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        color: #c7c7c7;
        font-size: .75rem;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 35%), 1px 0 1px rgb(0 0 0 / 35%);

        button, label{
          width: 2.5rem;
          height: 2.5rem;
          z-index: 1;
          outline: transparent;
          border-radius: 50%;
          background-color: rgba(100,100,100, .3);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: .3rem;
          box-shadow: 0 0 3px rgb(0 0 0 / 35%), 0 0 3px rgb(255 255 255);
          cursor: pointer;
          transition: background-color .3s ease-in;
          i{
            font-size: 1.25rem;
            line-height: 1.75rem;
          }
          &:hover{
            background-color: rgba(100,100,100, .2) !important;
          }
        }
        label.more{
          background-color: transparent;
          box-shadow: initial;
          i{
            color: white !important;
            font-size: 2rem;
          }
        }
        input{
          width: 1px;
          height: 1px;
          overflow: hidden;
        }
      }
    }

    .image-wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      .image-item-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        &.hidden{
          visibility: hidden;
          display: none;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          user-select: none;
        }
        .circle-seer{
          display: inline-block;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          height: 32px;
          padding-left: 7px;
          z-index: 1;
          cursor: pointer;

          div{
            display: inline-block;
            position: relative;
            width: 32px;
            height: 32px;
            background-color: var(--bg-color-2);
            box-shadow: 0 0 5px black;
            margin-left: -7px;
            border-radius: 50%;
            text-align: center;
            line-height: 32px;
            border: 1px solid white;
            overflow: hidden;
            app-avatar{
              width: 100%;
              height: 100%;
            }
            i{
              font-size: 30px;
            }
          }
          b{
            display: inline-block;
            position: relative;
            height: 32px;
            text-shadow: 0 0 5px black;
            color: white;
            text-align: center;
            line-height: 32px;
            overflow: hidden;
            padding-left: 0.5rem;
          }
        }
      }

      .tap-action-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        &>div{
          flex: 1;
        }
      }
    }
  }
}
