<div class="container">
  <div class="header">
    <app-avatar
      [url]="getTo()?.image"
      [nameShort]="getTo()?.nameShort()"
      [firstChar]="getTo()?.firstChar()"></app-avatar>
    <a routerLink="/profile/{{getTo()?.username}}" class="central">
      <div class="name">{{getTo()?.firstName}} {{getTo()?.lastName}}</div>
      <div class="username">
        @{{getTo()?.username}}
        <span class="animate-typing" *ngIf="getTo()?.isTyping()">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
      </div>
    </a>
    <ul class="actions">
      <li>
        <a (click)="startCall(false)"><i class="mdi mdi-phone"></i></a>
      </li>
      <li>
        <a (click)="startCall(true)"><i class="mdi mdi-video"></i></a>
      </li>
      <li>
        <a><i class="mdi mdi-dots-vertical"></i></a>
      </li>
    </ul>
  </div>
  <div class="chat-container">
    <div class="scroll" #scrollContent infiniteScroll  (scrolledUp)="getData()" [scrollWindow]="false">
      <div class="items">
        <div class="item"
             *ngFor="let message of messages"
             [ngClass]="{'me' : usersService.session?.id == message.from?.id}">
          <div class="item-wrapper">
            <app-avatar
              [url]="message.from?.image"
              [nameShort]="message.from?.nameShort()"
              [firstChar]="message.from?.firstChar()"></app-avatar>
            <div class="text-wrapper">
              {{message.text}}
              <span class="time">
                <i class="mdi mdi-check-all"
                   *ngIf="usersService.session?.id == message.from?.id"
                   [ngClass]="{'read' : message.read}"></i>
                {{message.date|date:'HH:mm'}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="send()">
    <div class="input-wrapper">
      <button class="microphone"><i class="mdi mdi-microphone-outline"></i></button>
      <input
        type="text"
        (input)="onInput()"
        [(ngModel)]="input"
        [ngModelOptions]="{standalone: true}"
        placeholder="Type your message...." />
      <button class="paperclip"><i class="mdi mdi-paperclip"></i></button>
      <button class="image"><i class="mdi mdi-image-outline"></i></button>
    </div>
    <button class="submit">
      <i class="mdi mdi-send"></i>
    </button>
  </form>
</div>
