<div class="container">
  <div class="stories"
       infiniteScroll
       (scrolled)="loadStories()"
       [scrollWindow]="false"
       [horizontal]="true">
    <div class="me" (click)="clickAddStory()">
      <app-avatar
        [url]="usersService?.session?.image"
        [nameShort]="usersService?.session?.nameShort()"
        [firstChar]="usersService?.session?.firstChar()">
      </app-avatar>
      <i class="mdi mdi-plus-circle"></i>
    </div>
    <div class="story" *ngFor="let s of stories"
         (click)="clickStoryItem(s)">
      <div class="rounded">
        <ng-template [ngIf]="!s?.user?.image">
          <app-avatar
            [url]="s?.user?.image"
            [nameShort]="s?.user?.nameShort()"
            [firstChar]="s?.user?.firstChar()"></app-avatar>
        </ng-template>
        <ng-template [ngIf]="s?.user?.image">
          <img [src]="ss.API_IMAGE_PREFIX + s?.user?.image" alt=""/>
        </ng-template>
      </div>
      <div class="name">
        <span>{{s?.user?.firstName}} {{s?.user?.lastName}}</span>
      </div>
    </div>
  </div>

  <div class="feeds">
    <div class="feed">
      <div class="header">
        <img src="https://pbs.twimg.com/profile_images/1287562748562309122/4RLk5A_U_x96.jpg"/>
        <div>
          <span>Erdal Ceylan</span>
          <small>@erdalceylan</small>
        </div>
        <button><i class="mdi mdi-dots-vertical"></i></button>
      </div>
      <div class="content">
        <p class="text-wrapper">
          “No one ever made a decision because of a number. They need a story.” — Daniel Kahneman
        </p>
        <div class="media-wrapper">
          <div class="media-image">
            <img src="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="">
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="actions">
          <button>
            <i class="mdi mdi-heart"></i>
          </button>
          <button>
            <i class="mdi mdi-chat"></i>
          </button>
        </div>
        <b>169 likes</b>
        <div class="posts">
          <div class="post">
            <b>Tijen Karakaş</b>
            <span>Hi there I like this picture</span>
          </div>

          <a>49 Posts Show All</a>
        </div>
        <div class="input-wrapper">
          <input placeholder="Add a comment" />
          <button>Post</button>
        </div>
      </div>
    </div>
  </div>
</div>

