.circle-avatar {
  color: white;

  &[data-first-chars="q"] {
    background-color: #1DE9B6;
  }

  &[data-first-chars="w"] {
    background-color: #F57F17;
  }

  &[data-first-chars="e"] {
    background-color: #FBC02D;
  }

  &[data-first-chars="r"] {
    background-color: #40C4FF;
  }

  &[data-first-chars="t"] {
    background-color: #7E57C2;
  }

  &[data-first-chars="y"] {
    background-color: #9E9D24;
  }

  &[data-first-chars="u"] {
    background-color: #FF7043;
  }

  &[data-first-chars="ı"] {
    background-color: #4DB6AC;
  }

  &[data-first-chars="o"] {
    background-color: #0277BD;
  }

  &[data-first-chars="p"] {
    background-color: #FB8C00;
  }

  &[data-first-chars="ğ"] {
    background-color: #81C784;
  }

  &[data-first-chars="ü"] {
    background-color: #795548;
  }

  &[data-first-chars="i"] {
    background-color: #64FFDA;
  }

  &[data-first-chars="ş"] {
    background-color: #00E676;
  }

  &[data-first-chars="l"] {
    background-color: #4DD0E1;
  }

  &[data-first-chars="k"] {
    background-color: #7C4DFF;
  }

  &[data-first-chars="j"] {
    background-color: #F9A825;
  }

  &[data-first-chars="h"] {
    background-color: #FF1744;
  }

  &[data-first-chars="g"] {
    background-color: #18FFFF;
  }

  &[data-first-chars="f"] {
    background-color: #4FC3F7;
  }

  &[data-first-chars="d"] {
    background-color: #607D8B;
  }

  &[data-first-chars="s"] {
    background-color: #00695C;
  }

  &[data-first-chars="a"] {
    background-color: #69F0AE;
  }

  &[data-first-chars="z"] {
    background-color: #558B2F;
  }

  &[data-first-chars="x"] {
    background-color: #757575;
  }

  &[data-first-chars="c"] {
    background-color: #F50057;
  }

  &[data-first-chars="v"] {
    background-color: #42A5F5;
  }

  &[data-first-chars="b"] {
    background-color: #AB47BC;
  }

  &[data-first-chars="n"] {
    background-color: #E65100;
  }

  &[data-first-chars="m"] {
    background-color: #536DFE;
  }

  &[data-first-chars="ö"] {
    background-color: #2E7D32;
  }

  &[data-first-chars="ç"] {
    background-color: #5C6BC0;
  }
}

