/* You can add global styles to this file, and also import other style files */
@import '~@mdi/font/scss/materialdesignicons.scss';
@import "tailwind.base";
@import "circle.avatar";
@import "animate.typing";
@import '~swiper/swiper-bundle';
@import "theme";
html, body,app-root { display: flex; height: 100%; width: 100%; min-height: 500px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root{flex-direction: row; -webkit-font-smoothing: antialiased;}
