<div class="container" infiniteScroll (scrolled)="loadUsers(users.length)" [scrollWindow]="false">
  <div class="content">
    <div class="input-wrapper">
      <i class="mdi mdi-magnify"></i>
      <input
        placeholder="Search"
        autocomplete="off"
        [(ngModel)]="input"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="users">
      <ng-template ngFor let-user [ngForOf]="users" >
        <a class="user" routerLink="/profile/{{user.username}}">
          <app-avatar
            [url]="user?.image"
            [nameShort]="user?.nameShort()"
            [firstChar]="user?.firstChar()"></app-avatar>
          <div class="info">
            <span>{{user.firstName}} {{user.lastName}}</span>
            <small>@{{user.username}}</small>
          </div>
        </a>
      </ng-template>
    </div>
  </div>
</div>
